
:root {
    --primary-dark-cyan: hsl(158, 36%, 37%);
    --primary-cream: hsl(30, 38%, 92%);
  
    --neutral-dark-blue: hsl(212, 21%, 14%);
    --neutral-grayish-blue: hsl(228, 12%, 48%);
    --neutral-white: hsl(0, 0%, 100%);

    --font-family-Montserrat: 'Montserrat', sans-serif;
    --font-family-Fraunces: 'Fraunces', serif;
  
    --fw-regular: 500;
    --fw-bold: 700;
    --fw-black: 800;
  
    --fs-400: 1.125rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2rem;
    --fs-900: 5rem;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }