
:root {
    --color-primary-400: hsl(158, 36%, 37%);
    --color-primary-500: hsl(158, 36%, 20%);
    --color-secondary-200: hsl(30, 38%, 92%);
  
    --clr-neutral-900: hsl(212, 21%, 14%);
    --clr-neutral-400: hsl(228, 12%, 48%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    --font-family-Base: 'Montserrat', sans-serif;
    --font-family-Accent: 'Fraunces', serif;
  
    --fw-regular: 500;
    --fw-bold: 700;
    --fw-black: 800;
  
    --fs-400: 1.125rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2rem;
    --fs-900: 5rem;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
  font-family: var(--font-family-Base);
  font-weight: var(--fw-regular);
  font-size: 0.875rem;
  color: var(--clr-neutral-400);
  background-color: var(--color-secondary-200);

  display: grid;
  min-height: 100vh;
  place-content: center;
  margin: 1rem;
}

/* Utilities */
.flex-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

/* button */
.button {
  cursor: pointer;
  border: 0;
  border-radius: 0.5em;
  padding: .75em 1.5em;
  text-decoration: none;

  display: inline-flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary-400);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-bold);
  font-size: 0.925rem;
}

.button:is(:hover, :focus) {
  background-color: var(--color-primary-500);
}

.button[data-icon = "shopping-cart"]::before {
  content: "";
  background-image: url("/images/icon-cart.svg");
  width: 15px;
  height: 16px;
}

/* product styles */
.product {
  --content-padding: 1.5rem;
  --content-spacing: 1rem;

  display: grid;

  background-color: var(--clr-neutral-100);
  border-radius: 0.5rem;
  overflow: hidden;
}

@media (min-width: 600px) {
  .product {
    grid-template-columns: 1fr 1fr;
  }
}

.product__content-section {
  padding: var(--content-padding);
  gap: var(--content-spacing);
  display: grid;
}

.product__category {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.product__name {
  font-size: 2rem;
  line-height: 1;
  font-family: var(--font-family-Accent);
  color: var(--clr-neutral-900);
}

.product__price {
  font-size: 2rem;
  font-family: var(--font-family-Accent);
  color: var(--color-primary-400);
}
